In [1]:
import pandas as pd
import numpy as np

# A Multiply Indexed Series

## Pandas MultiIndex

In [4]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [10]:
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [13]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

## MultiIndex as extra dimension

In [14]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [15]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [16]:
pop_df = pd.DataFrame({'total': pop,
                      'under18': [9267089, 9284094,
                                 4687374, 4318033,
                                 5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [17]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

# Methods of MultiIndex Creation

In [19]:
df = pd.DataFrame(np.random.rand(4, 2),
                 index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns=['data1', 'data2'])
df

        data1     data2
a 1  0.427156  0.938894
  2  0.329679  0.326687
b 1  0.712753  0.047212
  2  0.495308  0.289787

## Explicit MultiIndex constructors

In [20]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [21]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           codes=[[0, 0, 1, 1], [0, 1, 0, 1]])

## MultiIndex level names

In [22]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

## MultiIndex for columns

In [25]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                  names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                    names=['subject', 'type'])

data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      45.0  36.6  21.0  38.5  28.0  39.0
     2      37.0  38.0  33.0  36.2  40.0  36.3
2014 1      47.0  36.9  18.0  35.9  28.0  39.9
     2      34.0  36.2  50.0  37.4  16.0  35.0

In [26]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      21.0  38.5
     2      33.0  36.2
2014 1      18.0  35.9
     2      50.0  37.4

In [28]:
health_data['Bob']['HR']

year  visit
2013  1        45.0
      2        37.0
2014  1        47.0
      2        34.0
Name: HR, dtype: float64

In [31]:
health_data.iloc[0]

subject  type
Bob      HR      45.0
         Temp    36.6
Guido    HR      21.0
         Temp    38.5
Sue      HR      28.0
         Temp    39.0
Name: (2013, 1), dtype: float64

In [39]:
health_data.loc[2013]

subject   Bob       Guido         Sue
type       HR  Temp    HR  Temp    HR  Temp
visit
1        45.0  36.6  21.0  38.5  28.0  39.0
2        37.0  38.0  33.0  36.2  40.0  36.3

In [51]:
health_data.loc[:, 1]

KeyError: 1

# Indexing and Slicing a MultiIndex

## Multiply indexed Series

In [40]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [41]:
pop['California', 2000]

33871648

In [42]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [43]:
pop.loc['California':'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [44]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [52]:
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [53]:
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

## Multiply indexed DataFrames

In [54]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      45.0  36.6  21.0  38.5  28.0  39.0
     2      37.0  38.0  33.0  36.2  40.0  36.3
2014 1      47.0  36.9  18.0  35.9  28.0  39.9
     2      34.0  36.2  50.0  37.4  16.0  35.0

In [55]:
health_data['Guido', 'HR']

year  visit
2013  1        21.0
      2        33.0
2014  1        18.0
      2        50.0
Name: (Guido, HR), dtype: float64

In [56]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      45.0  36.6
     2      37.0  38.0

In [57]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        45.0
      2        37.0
2014  1        47.0
      2        34.0
Name: (Bob, HR), dtype: float64

In [58]:
health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-58-fb34fa30ac09>, line 1)

In [59]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      45.0  21.0  28.0
2014 1      47.0  18.0  28.0

In [62]:
health_data.loc[idx[:, 1], :]

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      45.0  36.6  21.0  38.5  28.0  39.0
2014 1      47.0  36.9  18.0  35.9  28.0  39.9

# Rearranging Multi-Indices

## Sorted and unsorted indices

In [71]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.030818
      2      0.883068
c     1      0.448436
      2      0.633369
b     1      0.389769
      2      0.692360
dtype: float64

In [70]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(3, 2), index=index)

ValueError: Length of passed values is 3, index implies 6

In [69]:
np.random.rand(6)

array([0.93319479, 0.79254123, 0.72399927, 0.54721817, 0.41260555,
       0.85577484])

In [72]:
data['a':'b']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [73]:
data = data.sort_index()
data

char  int
a     1      0.030818
      2      0.883068
b     1      0.389769
      2      0.692360
c     1      0.448436
      2      0.633369
dtype: float64

In [74]:
data['a':'b']

char  int
a     1      0.030818
      2      0.883068
b     1      0.389769
      2      0.692360
dtype: float64

## Stacking and unstacking indices

In [75]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [76]:
pop.unstack(level=0)

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [77]:
pop.unstack(level=1)

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [78]:
pop.unstack().stack()

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

## Index setting and resetting

In [80]:
pop_flat = pop.reset_index(name='population')
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [81]:
pop_flat.set_index(['state', 'year'])

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

# Data Aggregations on Multi-Indices

In [82]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      45.0  36.6  21.0  38.5  28.0  39.0
     2      37.0  38.0  33.0  36.2  40.0  36.3
2014 1      47.0  36.9  18.0  35.9  28.0  39.9
     2      34.0  36.2  50.0  37.4  16.0  35.0

In [83]:
data_mean = health_data.mean(level='year')
data_mean

subject   Bob        Guido          Sue
type       HR   Temp    HR   Temp    HR   Temp
year
2013     41.0  37.30  27.0  37.35  34.0  37.65
2014     40.5  36.55  34.0  36.65  22.0  37.45

In [85]:
data_mean.mean(axis=1, level='type')

type         HR       Temp
year
2013  34.000000  37.433333
2014  32.166667  36.883333

In [88]:
sub_mean = health_data.mean(axis=1, level='subject')
sub_mean

subject       Bob  Guido    Sue
year visit
2013 1      40.80  29.75  33.50
     2      37.50  34.60  38.15
2014 1      41.95  26.95  33.95
     2      35.10  43.70  25.50

In [90]:
type_mean = health_data.mean(axis=1, level='type')
type_mean

type               HR       Temp
year visit
2013 1      31.333333  38.033333
     2      36.666667  36.833333
2014 1      31.000000  37.566667
     2      33.333333  36.200000

In [91]:
type_mean = health_data.mean(level='type')
type_mean

KeyError: 'Level type not found'

In [92]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      45.0  36.6  21.0  38.5  28.0  39.0
     2      37.0  38.0  33.0  36.2  40.0  36.3
2014 1      47.0  36.9  18.0  35.9  28.0  39.9
     2      34.0  36.2  50.0  37.4  16.0  35.0

In [103]:
idx = pd.IndexSlice
HR_data = health_data.loc[:, idx[:, ['HR']]]
HR_data

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      45.0  21.0  28.0
     2      37.0  33.0  40.0
2014 1      47.0  18.0  28.0
     2      34.0  50.0  16.0

In [106]:
HR_data.mean()

subject  type
Bob      HR      40.75
Guido    HR      30.50
Sue      HR      28.00
dtype: float64

In [109]:
type_mean = health_data.mean()
type_mean

subject  type
Bob      HR      40.750
         Temp    36.925
Guido    HR      30.500
         Temp    37.000
Sue      HR      28.000
         Temp    37.550
dtype: float64

In [110]:
type_mean.loc['Bob', 'HR']

40.75

In [111]:
type_mean.loc[['Bob', 'Guido']]

subject  type
Bob      HR      40.750
         Temp    36.925
Guido    HR      30.500
         Temp    37.000
dtype: float64